{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="contianer h-100">
    <div class="row h-100">
        <div class="col-md-6 col-7 my-auto">
            <h1 class="display-4 logo-font text-black">
                The new collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="Shop Now" class="shop-now-button btn btn-lg rounded-a text-uppercase py-3"></a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}